@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    height: auto;
}

.Wrap{
    margin: 0 auto;
    font-family: Impact, 'Arial Narrow', sans-serif;
    overflow-x: auto;
}

.head{
    width: 100vw;
    align-items: center;
    background-color: rgb(33, 39, 61);
    height: 90px;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 50%);
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
}

.logo{
    display: inline-block;
    margin: 15px 30px;
}

.logo a{
    display: block;
    width: 200px;
    height: 60px;
    text-indent: -9999px;
    background: url(../images/w_logo.png) no-repeat center;
    background-size: 100%;
}

.gnb{
	width: 1000px;
    position: absolute;
    top: 20px;
    left: 10%;
}

.gnb ul{
    display: flex;
}

.gnb ul li{
    text-align: center;
}

.gnb .menu1{
    font-size: 20px;
    font-weight: lighter;
    color: #eee;
    letter-spacing: 2px;
    padding: 20px;
}

.gnb .menu1:hover, .dep02 ul li a:hover{
    color: darkorange;
}

.dep01{
	justify-content: space-between;
	text-align: center;
	overflow: hidden;
}

.dep02{
    height: 200px;
    background-color: rgba(33, 39, 61, 0.9);
    padding: 20px 10px 0 10px;
    margin-top: 30px;
    display: none;
}

.dep02 ul{
    display: inline-block;
    flex-wrap: wrap;
}

.dep02 ul li a{
    display: block;
    margin: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #eee;
    letter-spacing: 2px;
}

.login{
	display: block;
    position: absolute;
    top: 5px;
    right: 13%;
    font-size: 15px;
	width: 150px;
}

.login ul{
	display: flex;
}

.login ul li{
    padding: 10px;
}

.login ul li a{
    display:block;
	width:100px;
	height:50px;
	line-height:50px;
	text-align:center;
	color: #fff;
	font-size:14px;
	font-weight:bold;
	border: 1px solid #15c5aa;
    letter-spacing: 2px;
}

.login ul li:nth-child(2) a{
	border: 1px solid #3370e0;
}

.login ul li:nth-child(3) a{
	display: none;
	border: 1px solid #e62d44;
}

.login ul li a:hover{
    color: darksalmon;
}

/* 01 모바일메뉴 */
.Gnb_m{
	display:none;
}
.menu-panel {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	position: fixed;
	z-index: 99;
	top:0;
	right:0;
	height: 100%;
	width: 80%;
	background-color: rgb(33, 39, 61);
}

/*햄버거 메뉴*/
.Gnb_m {
    position: relative;
}
.Gnb_m .menu_button {
	display: inline-block;
	position: absolute;
	top: -80px;
	right: 0;
	width: 60px;
	height: 60px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	cursor: pointer;
	z-index: 100;
}
.Gnb_m .menu_button span,
.Gnb_m .menu_button span:before,
.Gnb_m .menu_button span:after {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	width: 28px;
	height:2px;
	background-color: #fff;
}
.Gnb_m .menu_button span { display: block; position: relative; top: 50%; margin: 0 auto; }
.Gnb_m .menu_button span:before,
.Gnb_m .menu_button span:after {
	content: "";
	position: absolute;
	right: 0;
}
.Gnb_m .menu_button span:before {
	top: -9.09090909px;
}
.Gnb_m .menu_button span:after {
	top: 9.09090909px;
}
/*햄버거 메뉴 활성화 시*/
.menu-panel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.menu-panel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.Gnb_m .menu_button.is-active span{
	background: transparent;
}
.Gnb_m .menu_button.is-active span:before,
.Gnb_m .menu_button.is-active span:after {
	top: 0;
    background-color: #fff;
}
.Gnb_m .menu_button.is-active span:before {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
}
.Gnb_m .menu_button.is-active span:after {
	-webkit-transition-delay: 0.09s;
	-moz-transition-delay: 0.09s;
	-o-transition-delay: 0.09s;
	-ms-transition-delay: 0.09s;
	transition-delay: 0.09s;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
}

/*메뉴 패널 안쪽부분*/
.mo-menu-title{
    background:rgb(33, 39, 61)ff;
    height:62px;
    color:#fff;
    font-size:16px;
    padding: 18px 20px 0 20px;
    text-align: left;
}
.mo-menu-title a:first-of-type{
	border-right:1px solid #fbbc90;
	padding:0 7px 0 0;
}
.menu-panel > .menu-list {
	width:100%;
	z-index: 5;
	height: auto;
	text-align: left;
}
.menu-panel > .menu-list > li{
	clear: both;
	width: 100%;
}

.menu-panel > .menu-list > .menu-label > .menu-list_text {
	font-size: 15px;
	padding-left:20px ;
	color: #fff;
	display: inline-block;
	height: 50px;
	line-height: 50px;
}
.menu-panel > .menu-list > li.menu-btn{
	padding:10px 20px;
	width:100%;
	box-sizing: border-box;
    margin-top: 20px;
}
.menu-panel .menu-btn .gnb_btn_login{
	display:block;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color: #15c5aa;
	font-size:14px;
	font-weight:bold;
	border: 1px solid #15c5aa;
}
.menu-panel .menu-btn .gnb_btn_account{
	display:block;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color: #3370e0;
	font-size:14px;
	font-weight:bold;
	border: 1px solid #3370e0;
	margin-top: 10px;
}

.menu-panel .menu-btn .gnb_btn_logout{
	display: none;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color: #e62d44;
	font-size:14px;
	font-weight:bold;
	border: 1px solid #e62d44;
	margin-top: 10px;
}

/* 햄버거 메뉴의 - + 부분 */
.menu-panel ul li .menu-list_arrow{
	height: 50px;
	width: 60px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}  
.menu-panel ul li .menu-list_arrow::before,
.menu-panel ul li .menu-list_arrow::after{
	width: 16px;
	height: 1px;
	background: darksalmon;
	content: "";
	display: inline-block;
	position:absolute;
	right:22px;
	top: calc(50% - 1px);
}

.menu-panel ul li .menu-list_arrow::after{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}


.menu-panel .sub-menu{
	display: none;
	width: 100%;
}
.menu-panel .sub-menu:after {
	content: '';
	display: block;
	clear: both;
}
.menu-panel .sub-menu li{
	float: left;
	height: 45px;
	width: 90%;
	margin:0 5%;
	border-bottom: 1px solid #e0e0e0;
}
.menu-panel .sub-menu li a{
	display: block;
	height: 100%;
	padding:0 0 0 8px;
	font:15px 'bgR';
	color: #fff;
	line-height: 45px;
}

.menu-panel .sub-menu li a:hover{
	color: darksalmon;
}

.menu-panel {
	right: -100%;
}
.menu-panel .menu_button {
	right: 130%;
}
.menu-panel.is-active {
	right: 0;
	overflow: scroll;
}
.menu-panel.is-active .menu_button {
	right: 4%;
	margin-left: -44px;
	z-index: 98;
	margin-top: -10px;
}
.menu-panel.is-active .menu_button span:before,
.menu-panel.is-active .menu_button span:after{
	background: #000;
}
.menu-panel-overlay{
	position: fixed;
	top: 0;
	z-index: 97;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
.menu-panel-overlay.is-active{
	display: block;
}

/* active */	  
.menu-list > .menu-label.is-open .sub-menu{
	border-top: 2px solid #05c3a7;
	display: block;
}
.menu-list > .menu-label.is-open .menu-list_arrow::before,
.menu-list > .menu-label.is-open .menu-list_arrow::after {
	background: darksalmon;
}

.menu-list > .menu-label.is-open .menu-list_arrow::after {
	-webkit-transition-delay: 0.09s;
	-moz-transition-delay: 0.09s;
	-o-transition-delay: 0.09s;
	-ms-transition-delay: 0.09s;
	transition-delay: 0.09s;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}


.whats_new {
	margin-top: 90px;
	padding: 100px 20px;
	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.whats_new h4, .news h4 { font-size: 30px; font-weight: 600; }
.whats_new a, .news a { display: block; }

.whats_new .sub_title { margin: 15px 0 0; color: #000; font-size: 30px; opacity: .7; }
.whats_new .left, .news .left{ float: left; }
.whats_new .right, .news .right{ float: right; }

	/* contents_banner */
.whats_new .contents_banner h3{
	color: #000;
	font-size: 40px;
}
.whats_new .contents_banner .inner{
	display: inline-block;
	width: 100%;
	min-height: 100px;
}
.whats_new .contents_banner .text_area {
	display: block;
	padding: 0 0 55px;
	width: 100%;
}

/*----- whats_new contents area -----*/

.news { margin: 20px 20px 0 20px; }

.news .article_title .more {
	position: absolute;
	top: 30px;
	right: 0;
	display: block;
}
.news .article_title .more a{
	color: #000;
}

.news .col_two { margin: 0 0 0 -50px; }
.news .col_two > li {
	float: left;
	padding: 0 20px 10px 50px;
	width: 50%;
}

.news .WhatsNew_contents h4{
	margin: 0 0 50px;
	padding: 0 0 25px;
	border-bottom: 1px solid #ddd;
}
.news .News { margin: 80px 0 100px; }
.news .News .newsList_area > li:nth-of-type(n+2) { margin: 35px 0 0; }

	/* newsList_area */
	
.WhatsNew_contents  .newsList_area{
	height: 100vh;
}
.WhatsNew_contents  .newsList_area li a span{
	margin-top: 20px;
}
.WhatsNew_contents  .newsList_area > li:nth-of-type(n+2) { margin: 20px 0 0; }
.WhatsNew_contents  .newsList_area > li .left {
	overflow: hidden;
	width: 75%;
	color: #121212;
	font-size: 18px;
	letter-spacing: -0.025rem;
}
.WhatsNew_contents  .newsList_area > li .right {
	display: inline-block;
	width: 25%;
	color: #999;
	font-size: 16px;
	letter-spacing: -0.025rem;
	text-align: right;
}

.WhatsNew_contents  .newsList_area > li {
	margin-top: 30px;
}


footer{
	position: fixed;
	bottom: 0;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    background-color: rgb(33, 39, 61);
}

footer h2{
    display: inline-block;
    margin-bottom: 20px;
    max-width: 160px;
}

footer h2 a{
	display: block;
    margin: 0 -40%;
    width: 200px;
    height: 60px;
    text-indent: -9999px;
    background: url(../images/w_logo.png) no-repeat center;
    background-size: 100%;
}

footer ul li{
    display: inline-block;
	position: relative;
	margin: 10px 20px 0;
	text-align: center;
}

footer ul li::after {
    content: '';
	display: block;
	position: absolute;
	top: 0;
	right: -21px;
	width: 1px;
	height: 18px;
	background: #dadada;
}

footer ul li:last-child::after {
    display: none;
}

footer ul li a{
	font-size:16px;
	color:#c0c0c0;
	font-weight:300;
}